.Card {
  width: 400px;
  height: 250px;
  background-color: lightgray;
  border-radius: 0.5em;
  display: inline-flex;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0.4s ease;
}

.Card:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
